.form_container {
    margin-top: 15%;
    background-color: #24273D;
    border-radius: 25px;
    width: 400px;
    padding: 30px;
}

form {
    background-color: transparent;
}

input[type="text"] {
    margin-bottom: 15px;
    background-color: #333851;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    border: none;
    outline: none;
    color: white;
}

input[type="submit"] {
    background-color: #40CE85;
    width: 100%;
    border: none;
    text-transform: uppercase;
    color: white;
    border-radius: 35px;
    padding: 15px;
    margin-bottom: 20px;
}