.container {
    width: 500px;
    height: 75px;
    padding: 30px;
    margin-top: 20%;
}         


.btn-grad {
    background-image: linear-gradient(to right, #24273D 0%, #79CBCA  51%, #24273D  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 30px 30px #24273D;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
         