body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    border-radius: 0 25px 25px 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #24273D;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .logo_content .logo {
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: #7FA9FC;
    left: 50%;
    top: 4px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    list-style: none;
    position: relative;
    height: 50px;
    width: 100%;
    margin:  0 5px;
}

.sidebar ul li a {
    color: #7FA9FC;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    background-color: #333851;
    color: white;
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
